* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-size: 36px;
    min-height: 100vh;
    font-family: Arial, sans-serif;
    color: #fff;
    background-color: #000;
    display: grid;
    place-items: center;
}